#header {
	height: var(--lumo-size-l);
	width: 100%;
	font-size: var(--lumo-font-size-s);
	font-family: var(--lumo-font-family);
	font-weight: var(--furms-font-weight);
	background: var(--lumo-contrast-5pct);
	padding-right: 1rem;
	padding-left: 1rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

#breadcrumb {
	display: flex;
	align-items: center;
	white-space: pre;
}

#breadcrumb a, #breadcrumb span {
	color: var(--lumo-body-text-color);
}

.furms-view {
	padding-right: 1rem;
	padding-left: 1rem;
	font-family: var(--lumo-font-family);
	display: flex;
	flex-direction: column;
}

.furms-view h4 {
	color: var(--lumo-body-text-color);
}

.no-left-padding {
	padding-left: 0;
}

.no-top-margin {
	margin-top: 0;
}

.description-text-area {
	width: 17em;
}

.long-combo-box {
	width: 17em;
}

.wide-text-area {
	width: calc(var(--vaadin-text-field-default-width, 30em) * 2);
	height: var(--vaadin-text-field-default-height, 20em);
}

.select-span-separator {
	margin: auto;
	display: table;
}

.reload-disable {
	z-index: -1;
}

.reload-disable:active {
	pointer-events: none;
}

vaadin-form-item > div {
	font-size: var(--lumo-font-size-m);
}

#furms-layout {
	flex-direction: column;
	justify-content: start;
	height: 100%;
}

#furms-layout-top {
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
}

#furms-layout-left {
	height: 100%;
	margin: 0 0 0 0;
	padding: 0;
	left: 0;
}

#furms-layout-right {
	height: 100%;
	margin: 0;
	padding: 0;
	right: 0;
}

#furms-layout-bottom {
	width: 100%;
	margin: 0;
	padding: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#furms-layout-main {
	overflow: hidden;
	flex: auto;
	align-items: stretch;
	margin: 0;
	padding: 0;
	gap: unset;
}

#furms-layout-menu {
	width: 20rem;
	height: 100%;
	overflow: auto;
	margin: 0;
	padding-left: var(--lumo-space-s);
	border-right: 1px solid var(--lumo-contrast-10pct);
}

#furms-layout-view-content {
	width: 100%;
	overflow: auto;
	align-items: stretch;
	margin: 0;
	padding: 0;
	gap: unset;
}

#furms-logo-image {
	max-width: 100%;
	max-height: 10rem;
	margin-left: auto;
	margin-right: auto;
}