#header {
	height: var(--lumo-size-l);
	width: 100%;
	font-size: var(--lumo-font-size-s);
	font-family: var(--lumo-font-family);
	font-weight: 600;
	padding-right: 1rem;
	padding-left: 1rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

vaadin-tab {
	font-size: var(--lumo-font-size-s);
	height: var(--lumo-size-l);
	font-weight: 600;
	color: var(--lumo-body-text-color);
}

vaadin-tab:hover {
	background-color: var(--lumo-contrast-5pct);
}

vaadin-tab[selected] {
	background-color: var(--lumo-primary-color-10pct);
	color: var(--lumo-primary-text-color);
}

#breadcrumb {
	display: flex;
	align-items: center;
	white-space: pre;
}

#breadcrumb a, #breadcrumb span {
	color: var(--lumo-body-text-color);
}