#header {
	height: var(--lumo-size-l);
	width: 100%;
	font-size: var(--lumo-font-size-s);
	font-family: var(--lumo-font-family);
	font-weight: var(--furms-font-weight);
	padding-right: 1rem;
	padding-left: 1rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

#breadcrumb {
	display: flex;
	align-items: center;
	white-space: pre;
}

#breadcrumb a, #breadcrumb span {
	color: var(--lumo-body-text-color);
}

.furms-view {
	padding-right: 1rem;
	padding-left: 1rem;
	font-family: var(--lumo-font-family);
}

.furms-view h4 {
	color: var(--lumo-body-text-color);
}

.no-left-padding {
	padding-left: 0;
}

.no-top-margin {
	margin-top: 0;
}

.description-text-area {
	width: var(--vaadin-text-field-default-width, 24em);
}

.wide-text-area {
	width: var(--vaadin-text-field-default-width, 30em);
	height: var(--vaadin-text-field-default-height, 20em);
}

.large-description-text-area {
	width: var(--vaadin-text-field-default-width, 24em);
	height: var(--vaadin-text-field-default-height, 15em);
}

.select-span-separator {
	margin: auto;
	display: table;
}

.reload-disable:active {
	pointer-events: none;
}