<!--
  ~ Copyright (c) 2021 Bixbit s.c. All rights reserved.
  ~  See LICENSE file for licensing information.
  -->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.imunity.furms.cli.client.FurmsClient" level="INFO" />
    <logger name="io.imunity.furms.cli.command" level="DEBUG" />

    <root level="OFF">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>