/.project
/.settings
**/target
**/.project
**/.settings
**/.classpath
**/target
/target
.pydevproject

/.idea/
**/*.iml

**/node_modules
**/package-lock.json
**/package.json
**/webpack.config.js
**/webpack.generated.js

furms-doc/.asciidoctorconfig.adoc
**/MYmail.properties

