.furms-upload-label{
	padding-bottom: 0.5em;
	color: var(--lumo-secondary-text-color);
	padding-bottom: 0.5em;
	font-family: var(--lumo-font-family);
	font-weight: 500;
	font-size: var(--lumo-font-size-s);
}

#logo {
	max-width: 150px;
	max-height: 150px;
	object-fit: contain;
}