[part~="header-cell"] ::slotted(vaadin-grid-cell-content) {
    font-weight: bold;
}

:host(.sparse-grid) [part="row"] {
	min-height: 3em;
}

:host(.sparse-grid) [part="row"] [part~="cell"]:not([part~="details-cell"]) {
	min-height: 3em !important;
}

:host(.sparse-grid) [part~="cell"] ::slotted(vaadin-grid-cell-content), [part~="header-cell"] ::slotted(vaadin-grid-cell-content) {
	font-size: var(--lumo-font-size-m);
}
